<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AWS</key>
	<dict>
		<key>CredentialsProvider</key>
		<dict>
			<key>CognitoIdentity</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>PoolId</key>
					<string>eu-central-1:f77b75fe-2553-4a31-841d-10ce3129000a</string>
					<key>Region</key>
					<string>EUCentral1</string>
				</dict>
			</dict>
		</dict>
		<key>S3TransferManager</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Region</key>
				<string>EUCentral1</string>
			</dict>
		</dict>
		<key>S3TransferUtility</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Region</key>
				<string>EUCentral1</string>
			</dict>
		</dict>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb328220484190202</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.proaegean.viatori</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.proaegean.viatori</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.112288213072-uok09nm2t4sa7la8ngeiqussgshbl0o7</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>edd93cd24d773162c23ba76ba0fca3bcf9d93de7</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>0a0aBiybWk5af7MrLoPRslSRf</string>
					<key>consumerSecret</key>
					<string>AxFOt4XBI1IrLI6YP5Wg1NMMtmhbL54aTUbnXMpcpLfR4IDISW</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>328220484190202</string>
	<key>FacebookDisplayName</key>
	<string>Viatori</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Bu özellik kamera erişimi gerektirmektedir.</string>
	<key>NSContactsUsageDescription</key>
	<string>Tanıdığın arkadaşların için rehberine erişmek istiyoruz.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Yeni konum eklemek, konum paylaşmak, üye mekanlarda sipariş vermek için konum servislerini açmalısın</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Video için mikrofona erişim izni istenmektedir.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Fotoğraf galerisinden bir resim seçebileceksin.</string>
	<key>UIAppFonts</key>
	<array>
		<string>MaisonNeue-Bold.ttf</string>
		<string>MaisonNeue-BoldItalic.ttf</string>
		<string>MaisonNeue-Book.ttf</string>
		<string>MaisonNeue-BookItalic.ttf</string>
		<string>MaisonNeue-Demi.ttf</string>
		<string>MaisonNeue-DemiItalic.ttf</string>
		<string>MaisonNeue-Light.ttf</string>
		<string>MaisonNeue-LightItalic.ttf</string>
		<string>MaisonNeue-Medium.ttf</string>
		<string>MaisonNeue-MediumItalic.ttf</string>
		<string>MaisonNeue-Mono.ttf</string>
		<string>MaisonNeue-MonoItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
